.paper {
    flex-grow: 1;
    width: 49%;
    box-shadow: none;
    background-color: inherit;
    border: 1px solid transparent;
    border-image: linear-gradient(45deg, #084B8CFF, #05315EFF) 1;
    transition: transform 0.2s ease-in-out;
}

.paper:hover {
    transform: scale(1.02);
}

.image {
    height: 200px;
    width: 100%;
    margin-bottom: 1px;
    object-fit: cover;
    object-position: top;
}

.text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: clip;
    color: white;
    line-height: 1.5;
    -webkit-line-clamp: 2;
}