.stack {
    justify-content: space-between;
}

.icon {
    color: white;
    font-size: 2.5rem;
    transition: transform 0.1s ease-in-out;
}

.icon:hover {
    color: lightyellow;
    transform: scale(1.2);
}