.image {
    flex: 1;
    display: flex;
    max-width: 100vw;
    max-height: 300px;
    object-fit: cover;
}

.div {
    display: flex;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.grid {
    align-items: center;
    justify-content: space-between;
}